*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

html {
  font-size: 14px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  color: hsl(224, 40%, 10%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  padding: 2.5rem 1.5rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#home,
#submitted {
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
}

#submitted {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none;
}

@media (min-width: 640px) {
  body {
    align-items: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Noto Sans";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

h1 {
  color: hsl(224, 40%, 15%);
}

h3 {
  color: hsl(224, 40%, 15%);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.page {
  max-width: 500px;
  position: relative;
}

label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.7;
  margin-bottom: 0.5rem;
  background-color: rgba(255, 255, 255, 0.9);
}

input,
textarea {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  width: 100%;
  margin-right: 1rem;
  outline: 0;
  border: 1px solid hsl(255, 0%, 95%) !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

input:focus {
  box-shadow: 0 6px 8px rgba(50, 50, 93, 0.13), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid hsl(224, 40%, 90%) !important;
}

input::placeholder {
  opacity: 0.5;
}

button {
  display: inline-block;
  background: linear-gradient(
    to bottom right,
    hsl(224, 100%, 67%),
    hsl(238, 100%, 67%)
  );
  outline: 0;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.1s ease;
  transform: translateY(0);
  margin: 0;
}
button:not(:last-child) {
  margin-right: 1rem;
}
button:hover,
button:not(:last-child) :focus {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.05), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline: 0;
}

blockquote {
  padding: 1.25rem;
  margin: 1.25rem 0;
  background-color: #f7f7f7;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: #000;
}
blockquote footer {
  margin-top: 0.25rem;
  opacity: 0.5;
}

blockquote footer:before {
  content: "\2014\A0";
}

.dots {
  position: absolute;
  top: -70px;
  left: -150px;
  z-index: -1;
  width: 200px;
  height: 200px;
  content: "";
  background: url(/dots-small.svg);
  display: none;
}

@media (min-width: 640px) {
  .dots {
    display: block;
  }
}

.copied-alert {
  opacity: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  5% {
    transform: translateY(-5px);
  }

  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
